# PORT=4000
# FRONTEND_HEROKU=https://sistemaabba.up.railway.app
# FRONTEND=http://localhost:8080

PORT=4000
FRONTEND_HEROKU=https://abba.up.railway.app
FRONTEND=http://localhost:8080

DB_DIALECT=postgres
DB_HOST=127.0.0.1
DB_DATABASE=db_mantenimiento
DB_USERNAME=postgres
DB_PASSWORD=root

CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
REFRESH_TOKEN=
SECRETORPRIVATEKEY=